
body {
    margin: 0; 
}

a { text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

/*navigation section*/ 

#navbar {
   display: grid; 
   grid-template-columns: 1fr 50px 50px 50px 50px;
   grid-template-rows: 50px;
   grid-template-areas: ". gmail image menu sign-in";


}

#navbar a {
    
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}


#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
    color: black;
}

#image {
    grid-area: image;
    justify-self: center;
    align-self: center;
    color: black;
}

#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
    
}

#sign-in{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    background-color: #2B7DE9;
    height: 30px;
    width: 65px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;

}

#sign-in:hover{
    background-color:#3386f3;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
    text-decoration: none;
}

/*main section*/ 

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 270px 70px 70px 270px;
    grid-template-areas:
    ".logo." 
    ".search."
    ".flexbox."
    ".google-text.";
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
   
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
    height: 92px;
    aspect-ratio: auto 272 / 92;

}

#search{
    grid-area: search;
    align-self: center;
    max-width: 584px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 482px;
} 

#search:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

#flexbox{
    grid-area: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;

}

#google-search-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

#google-search-btn:hover{
    
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0); 
}

#lucky-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#lucky-btn:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0); 
}

#google-text{
    grid-area: google-text;
    justify-self: center;
    font-size: small;
    margin: 24px;

}


/*footer*/ 



#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%; 
    display: grid;
    grid-template-columns: 70px 100px 70px 200px 1fr 70px 70px 70px 70px;
    grid-template-rows: 50px ;
    grid-template-areas: "about advertising business hswork carbon privacy terms settings";
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial,sans-serif;   

}


#about{
    grid-area:about ;
    justify-self: center; 
    align-self: center; 
    color: rgba(0,0,0,.54);

}
#advertising{
    grid-area: advertising;
    justify-self: center; 
    align-self: center; 
    color: rgba(0,0,0,.54);
}
#business{
    grid-area: business;
    justify-self: center; 
    align-self: center; 
color: rgba(0,0,0,.54);
}
#hswork{
    grid-area: hswork;
    justify-self: center; 
    align-self: center; 
color: rgba(0,0,0,.54);
}
#carbon{
    grid-area: carbon;
    justify-self: center; 
    align-self: center; 
color: rgba(0,0,0,.54);
}
#privacy{
    grid-area: privacy;
    justify-self: center; 
    align-self: center; 
color: rgba(0,0,0,.54);
}
#terms{
    grid-area: terms;
    justify-self: center; 
    align-self: center; 
color: rgba(0,0,0,.54);
}
#settings{
    grid-area: settings;
    justify-self: center; 
    align-self: center; 
color: rgba(0,0,0,.54);
}